/* CSS untuk tampilan confirm */
.confirmation-popup {
  background-color: white;
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-icon {
  color: red;
  font-size: 36px;
}

.confirmation-text {
  font-size: 18px;
  margin-top: 10px;
}

.confirmation-message {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.confirmation-buttons {
  margin-top: 20px;
}

.confirmation-button {
  background-color: #da3e33f7;
  color: white;
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-button.cancel {
  background-color: #ccc;
}
